* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f4f6;
}

table {
    width: 100%;
}

th {
    background: #f1f5f9;
}

th,
td {
    padding: 12px;
}

input,
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h2,
h3,
h4 {
    margin-bottom: 15px;
}